$background :  #20222b;
$body-background : #333745;
$link-color : #A5AFD7;
$widget-header-bg : #3C4251;
$widget-body-bg : #464b5e;
$text-gradient : linear-gradient(to left, #654ea3, #eaafc8);

$border-bottom : 1px solid #5B6178;

$xl-size : 4.8rem;
$l-size : 3.2rem;
$m-size : 1.6rem;
$s-size : 1.2rem;

$mobile-breakpoint : 45rem;
